.file__input::-webkit-file-upload-button {
    visibility: hidden;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file__input {
    background-color: white;
    border-radius: var(--border-radius);
    font-size: 15px;
    width: 119px;
    border: 1px solid #999;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    box-shadow: var(--box-shadow-dark);
    margin-left: -6px;
}
.file__input:hover {
    border-color: black;
    cursor: pointer;
}

.file__input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file__input__contaier {
    margin: 0px 5% 20px 20px;
}
.file_input_label {
    font-weight: bolder;
    font-size: 19px;
    width: 151px;
}

.actions_wrapper {
    padding-top: 7px;
    margin-left: -6rem
}

.actions_button_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
}
.actions_button_misc_wrapper{
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    margin-left: -0.9rem;
}
.action_button {
    padding: 0;
    background-color: transparent;
    border: none
}
.action_button:hover,.action_button:focus,.action_button:disabled,.action_button:active {
    padding: 0;
    background-color: transparent;
    border: none;
    outline:none
}

.fileHeading{
    padding-left: 45px;
    font-size: 1.35rem !important;
}
/* .fileHeading{
    font-size: 1.35rem !important;
} */
.misc_file_name{
    padding-left: 3rem;
}
.miscWrapper{
    padding-bottom:3px;
}
.basic_file_hr{
    width: 35.9rem;
    margin-left: 54px;
}
.carrier_badge_status{
    display: flex;
    justify-content: flex-end;
}
.invalid_files{
    margin-left: -25px;
    display: flex;
    justify-content: flex-end;
}
.card_body{
    padding: 0px 1rem 1rem 1rem;
}
.form_control{
    padding: 0.275rem 0.75rem;
}
.label_form{
    font-size: 25px;
    font-weight: 500;
}

.relative{
    position: relative;
}
.section_heading{
    font-size: 1.9rem; 
    font-weight: 500;
}