.button__dialer {
  margin-top: 15px !important;
  width: 150px;
  margin: 5px !important;
  float: right;
}

.button__dialer:hover {
  transform: scale(1.1) !important;
  transition: transform 0.3s ease 0s !important;
  background-color: inherit !important;
}

.red {
  background-color: var(--main-color-red) !important;
}

.green {
  background-color: var(--main-color-green) !important;
}
.green:disabled {
  background: #dddddd !important;
}

.button__class {
  /* padding-left: vh !important; */
  box-shadow: 2px 4px 4px grey !important;
}

.button__class:hover {
  transform: scale(1.1) !important;
  transition: transform 0.3s ease 0s !important;
  background-color: var(--main-bg-light) !important;
}

.assign {
  width: 100px;
}
